article {
    width: 70%;
    margin: auto;
    font-family: sans-serif
}

h1, h2, h3, h4 {
    display: flex;
    height: 1.5em;
}

h1 {
    width: 32px;
}

table {
   border: 1px solid black;
}

th, td {
    border: 1px solid black;
}

.pictures {
    font-style: oblique;
}

.pictures {
   float: right;
   margin: 0 0 30px 30px;
}